<div class="bg-img">
    Welcome to Stardust!
</div>
<div class="container">
    <form  class="form-inline">
                <label for="checkInDate">Check In Date</label>
                <label for="checkOutDate">Check Out Date</label>
                <label for="rooms">Rooms</label> 
                <br>
                <input type="date" id="checkInDate" name="checkInDate">
                <input type="date" id="checkOutDate" name ="checkOutDate">
                <input type="text" id="rooms" name ="rooms">
                <input type="submit" value="submit">
    </form>
</div>


